body {
  margin: 0;
  padding: 0;
  background-color: #e6e8eb;
  font-family: "lucida grande", tahoma, san francisco, roboto, segoe UI
}

#barra {
  height: 43px;
  background-color: #395ca9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

#contenidor {
  width: 852px;
  background-color: #FFF;
  margin: 0 auto;
  overflow: hidden;
}

#portada {
  height: 204px;
  background-image: url(img/portada.jpg);
  margin-top: 43px;
}

#nom {
  width: 320px;
  top: 160px;
  left: 210px;
  position: relative;
  color: #FFF;
  text-shadow: 0 0 5px #000;
}

#perfil {
  border: solid 4px white;
  border-radius: 4px;
  position: relative;
  left: 17px;
  top: 13.5px;
  box-shadow: 0 0 0 2px;
}

#menu {
  height: 44px;
  background-color: #e6e8eb;
  padding: 0;
  margin: 0 0 0 200px;
  width: 476px;
}

#menu li {
  float: left;
  padding: 0 18px;
  display: block;
  font-weight: bold;
  color: #395ca9;
  background-color: #FFF;
  margin: 0 0 0 1px;
  height: 44px;
  line-height: 44px;
}

#menu li:hover {
  color: #000;
  background-image: url(img/select.gif);
  background-repeat: no-repeat;
  background-position: 50% 37px;
}

#contingut {
  border-top: solid 1px #e6e8eb;
}

.esquerra {
  width: 323px;
  margin: 10px 0;
  float: left;
  clear: left;
  border: solid 1px #CCC;
  overflow: hidden;
  border-radius: 3px;
}

.dreta {
  width: 513px;
  margin: 10px 0;
  border: solid 1px #CCC;
  top: -604px;
  position: relative;
  float: right;
  border-radius: 3px;
  overflow: hidden;
}

.esquerra h4 {
  height: 14px;
  padding: 5px;
  font-weight: normal;
  font-size: 18px;
  text-indent: 36px;
  background-image: url(img/lateral.png);
  background-repeat: no-repeat;
  background-position: 10px 1px;
  margin: 0;
}

#presentacio li {
  height: 30px;
  border-top: solid 1px grey;
  font-size: 12px;
  line-height: 30px;
}

#fotos li {
display: block;
}

#fotos li:hover {
  color: white;
}

#fotos h4 {
background-position: 0 -24px;
}

#amics h4 {
background-position: 0 -48px;
}

#amics li {
display: block;
}

#amics li:hover {
  color: black;
}

.estudis {
  list-style-image: url(img/icones_estudis.png);
}

.domicili {
  list-style-image: url(img/icones_domicili.png);
}

.feina {
  list-style-image: url(img/icones_feina.png);
}

.relacio {
  list-style-image: url(img/icones_sentimental.png);
}

.aniversari {
  list-style-image: url(img/icones_esdeveniments.png);
}

#fotos ul li {
  display: block;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  color: transparent;
}

#fotos ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.esquerra ul {
  margin-top: 20px;
}


#f1 {
  background-image: url(img/f1.jpg);
}

#f2 {
  background-image: url(img/f2.jpg);
}

#f3 {
  background-image: url(img/f3.jpg);
}

#f4 {
  background-image: url(img/f4.jpg);
}

#f5 {
  background-image: url(img/f5.jpg);
}

#f6 {
  background-image: url(img/f6.jpg);
}

#f7 {
  background-image: url(img/f7.jpg);
}

#f8 {
  background-image: url(img/f8.jpg);
}

#f9 {
  background-image: url(img/f9.jpg);
}

#amics ul li {
  display: block;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  line-height: 178px;
  text-align: center;
  text-shadow: 0 0 2px black;
  text-indent: 5px;
  color: white;
}

#amics ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#a01 {
  background-image: url(http://dlopez-goicochea2018.github.io/MP08/s2m8uf103_lopez-goicochea/img/perfil.jpg);
}

#a02 {
  background-image: url(http://amoreno2018.github.io/MP08/s2m8uf103_moreno/img/perfil.jpg);
}

#a03 {
  background-image: url(http://zruiz2018.github.io/MP08/s2m8uf103m_ruiz/img/perfil.jpg);
}

#a04 {
  background-image: url(http://jsanchez2018.github.io/MP08/s2m8uf103_sanchez/img/perfil.jpg);
}

#a05 {
  background-image: url(http://jsagrera2018.github.io/MP08/s2m8uf103_sagrera/img/perfil.jpg);
}

#a06 {
  background-image: url(http://mchacon2018.github.io/MP08/s2m8uf103_chacon/img/perfil.jpg);
}

#a07 {
  background-image: url(http://amanchon.github.io/MP08/s2m8uf103_manchon/img/perfil.jpg);
}

#a08 {
  background-image: url(http://calvarez2018.github.io/MP08/s2m8uf103_alvarez/img/perfil.jpg);
}

#a09 {
  background-image: url(http://xolle2018.github.io/MP08/s2m8uf103_olle/img/perfil.jpg);
}

#pensa ul{
  background-color: #f5f6f8;
  height: 40px;
  margin: 2px;
  padding-left: 20px;
}

#pensa ul li {
  float: left;
  margin: 5px 20px 0 20px;
  color: #395ca9;
  border-right: 2px solid #ccc;
}

#pensa input {
  background-color: white;
  width: 509px;
  margin: 0;
  padding: 0;
  height: 70px;
}

#pensa ul li a {
  display: block;
  height: 30px;
}

#pensa li:hover {
  color: #000;
}

.estat {
  list-style-image: url(img/estat.png);
}

.foto {
  list-style-image: url(img/fotos.png);
}

.video {
  list-style-image: url(img/ubicacio.png);
}

h5 {
  font-weight: normal;
  font-style: normal;
  height: 10px;
  margin: 0;
  padding: 5px;
}

h6 {
  font-weight: normal;
  font-style: normal;
  margin: 0;
  height: 10px;
  padding: 5px;
}

.postintro {
  padding: 10px 10px 10px 60px;
  background-image: url(img/perfil.jpg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 10px 10px;
}

.post img, .post iframe, .post p{
  padding: 10px;
  width: 493px;
  font-size: 12px;
}
